/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } */

@font-face {
    font-family: GSMain;
    src: url("assets/Latin-Modern-Mono/lmmonoproplt10-bold.otf") format("opentype");
}

@font-face {
    font-family: GSProject;
    src: url("assets/Latin-Modern-Mono/lmmonoprop10-regular.otf") format("opentype");
}

@font-face {
    font-family: GSProjectSub;
    src: url("assets/Latin-Modern-Mono/lmmonoproplt10-regular.otf") format("opentype");
}

html,
body {
    height: 100vh;
    width: 100%;
    margin: auto 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 20vw 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  
    " . severinworks ."
    " wordspot imagespot huh ";
    justify-items: center;
    align-items: center;
    column-gap: 2vw;
}

nav {
    display: flex;
    height: minmax(3rem, max-content);
    width: 100vw;
    padding: 1rem;
}

#wordsimage {
    grid-area: wordspot;
    width: 3rem;
    height: 3rem;
    justify-self: end;
    align-self: start;
}

#imagesnav {
    width: 12vw;
    height: 12vw;
    margin-left: auto;
    align-self: end;
    margin-right: 3vw;
    margin-top: 0.5em;
}

#wordsnav {
    width: 12vw;
    height: 12vw;
    margin-right: auto;
    align-self: end;
    margin-left: 3vw;
    margin-top: 0.5em;
}

#imagesimage {
    grid-area: imagespot;
    width: 3rem;
    height: 3rem;
    justify-self: center;
    align-self: start;
}

#questionimage {
    grid-area: huh;
    width: 3rem;
    height: 3rem;
    justify-self: start;
    align-self: start;
}

header {
    grid-area: severinworks;
    align-self: flex-end;

}

h1 {
    font-family:  forma-djr-deck,  sans-serif; 
    font-weight:  500; 
    font-style:  normal; 
    font-size: 2rem;
    margin-bottom: 0;
}

#projectwords {
    width: 100%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;

}

#subhead {
    font-family:  forma-djr-deck,  sans-serif; 
    font-weight:  500; 
    font-style:  normal; 
    font-size: 10vw;
    margin-bottom: 0;
    margin-top: 0;
    height: max-content;
    align-self: center;
}


h3 {
    font-family: GSProject;
    color:rgb(139, 139, 139);
    font-size: 1em;
}

h3 span {
    color: black;
}

p {
    font-family: GSProjectSub;
    font-size: 0.5em;
}

img {
    height: 100%;
    width: 100%;
}

.accordion {
    display: flex;
    cursor: pointer;
    padding-inline-start: 3vw;
    background-color: white;
    width: max-content;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;

  }
  
  /* .active, .accordion:hover {
    background-color: #ccc;
  } */
  
  .accordion:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\0020\0028\2212\0029";
    align-self: center;
    color: rgb(112, 112, 112);
  }
  
  .panel {
    width: 68%;
    margin: 0 auto;
    /* padding: 0 4vw; */
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

@media only screen and (min-width: 500px) {

    #wordsimage {
        grid-area: wordspot;
        width: 6rem;
        height: 6rem;
        justify-self: end;
        align-self: start;
    }

    #imagesimage {
        grid-area: imagespot;
        width: 6rem;
        height: 6rem;
        justify-self: center;
        align-self: start;
    }
    
    #questionimage {
        grid-area: huh;
        width: 6rem;
        height: 6rem;
        justify-self: start;
        align-self: start;
    }

    nav {
        display: flex;
        height: minmax(3rem, max-content);
        width: 100%;
        padding: 1rem;
    }

    #subhead {
        font-family:  forma-djr-deck,  sans-serif; 
        font-weight:  500; 
        font-style:  normal; 
        font-size: 2.5em;
        margin-bottom: 0;
        margin-top: 0;
        height: max-content;
        align-self: center;
    }

    h1 {
        font-family:  forma-djr-deck,  sans-serif; 
        font-weight:  500; 
        font-style:  normal; 
        font-size: 6rem;
        margin-bottom: 0;
    }

    .container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 20vw 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:  
        " . severinworks ."
        " wordspot imagespot huh ";
        justify-items: center;
        align-items: center;
        column-gap: 0;
    }

    #imagesnav {
        width: 6rem;
        height: 6rem;
        margin-left: auto;
        align-self: end;
        margin-right: 3vw;
        margin-top: 0.5em;
    }
    
    #wordsnav {
        width: 6rem;
        height: 6rem;
        margin-right: auto;
        align-self: end;
        margin-left: 3vw;
        margin-top: 0.5em;
    }

    h3 {
        font-size: 2em;
    }
    
}

