/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } */

@font-face {
    font-family: GSMain;
    src: url("assets/Latin-Modern-Mono/lmmonoproplt10-bold.otf") format("opentype");
}

@font-face {
    font-family: GSProject;
    src: url("assets/Latin-Modern-Mono/lmmonoprop10-regular.otf") format("opentype");
}

@font-face {
    font-family: GSProjectSub;
    src: url("assets/Latin-Modern-Mono/lmmonoproplt10-regular.otf") format("opentype");
}

html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(110, 110, 110) rgb(221, 221, 221);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(221, 221, 221);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 110);
    border-radius: 20px;
    border: 3px solid rgb(221, 221, 221);
  }

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 20vw 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  
    " . severinworks ."
    " wordspot imagespot huh ";
    justify-items: center;
    align-items: center;
    column-gap: 2vw;
}

nav {
    display: flex;
    height: max-content;
    width: auto;
    padding: 1rem;
    justify-content: space-evenly;
}

.instagram-media {
    width: 100%;
    height: 100%;
    margin: 10px;
    transition: all 1s;
}

.instagram-media:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* .container:hover .middle {
    opacity: 0.6;
} */

#imagesnav {
    width: 12vw;
    height: 12vw;
    margin-left: auto;
    align-self: end;
    justify-self: end;
}

#wordsnav {
    width: 12vw;
    height: 12vw;
    margin-right: auto;
    align-self: end;
    justify-self: start;
}

#wordsimage {
    grid-area: wordspot;
    width: 20vw;
    height: 20vw;
    justify-self: end;
    align-self: start;
}

#imagesimage {
    grid-area: imagespot;
    width: 20vw;
    height: 20vw;
    justify-self: center;
    align-self: start;
}

#questionimage {
    grid-area: huh;
    width: 20vw;
    height: 20vw;
    justify-self: start;
    align-self: start;
}

header {
    grid-area: severinworks;
    align-self: flex-end;

}

h1 {
    font-family:  forma-djr-deck,  sans-serif; 
    font-weight:  500; 
    font-style:  normal; 
    font-size: 3rem;
    margin-bottom: 0;
}

#projectwords {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 3vw;
}

#subhead {
    font-family:  forma-djr-deck,  sans-serif; 
    font-weight:  500; 
    font-style:  normal; 
    font-size: 10vw;
    margin-bottom: 0;
    margin-top: 0;
    height: max-content;
    align-self: center;
}


h3 {
    font-family: GSProject;
    color:rgb(139, 139, 139);
    font-size: 1.5em;
}

h3 span {
    color: black;
}

p {
    font-family: GSProject;
    font-size: 1em;
    margin-top: 0;
}

img {
    height: 100%;
    width: 100%;
}

.accordion {
    display: flex;
    cursor: pointer;
    padding-inline-start: 3vw;
    background-color: white;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;

  }
  
  /* .active, .accordion:hover {
    background-color: #ccc;
  } */
  
  .accordion:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\0020\0028\2212\0029";
    align-self: center;
    color: rgb(112, 112, 112);
  }
  
  .panel {
    display: flex;
    flex-direction:column;
    width: 68%;
    margin: 0 auto;
    /* padding: 0 4vw; */
    background-color: white;
    max-height: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: max-height 0.5s ease-out;
  }

  .albumviewer {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 44vh;
}

.projectdesc {
    height: 22vh;
    overflow-y: scroll;
    overflow-x: hidden;

  }

@media only screen and (min-width: 580px) {

    #wordsimage {
        grid-area: wordspot;
        width: 6rem;
        height: 6rem;
        justify-self: end;
        align-self: start;
    }

    #imagesimage {
        grid-area: imagespot;
        width: 6rem;
        height: 6rem;
        justify-self: center;
        align-self: start;
    }
    
    #questionimage {
        grid-area: huh;
        width: 6rem;
        height: 6rem;
        justify-self: start;
        align-self: start;
    }

    nav {
        display: flex;
        height: max-content;
        width: auto;
        padding: 1rem;
        justify-content: space-between;
    }

    #subhead {
        font-family:  forma-djr-deck,  sans-serif; 
        font-weight:  500; 
        font-style:  normal; 
        font-size: 2.5em;
        margin-bottom: 0;
        margin-top: 0;
        height: max-content;
        align-self: center;
    }

    h1 {
        font-family:  forma-djr-deck,  sans-serif; 
        font-weight:  500; 
        font-style:  normal; 
        font-size: 6rem;
        margin-bottom: 0;
    }

    .container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 20vw 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:  
        " . severinworks ."
        " wordspot imagespot huh ";
        justify-items: center;
        align-items: center;
        column-gap: 0;
    }

    #imagesnav {
        width: 3rem;
        height: 3rem;
    }
    
    #wordsnav {
        width: 3rem;
        height: 3rem;
    }

    h3 {
        font-size: 2em;
    }
    
}

